[submodule "src/ros_realsense/realsense"]
	path = src/ros_realsense/realsense
	url = https://github.com/intel-ros/realsense.git
[submodule "src/cv_camera"]
	path = src/cv_camera
	url = https://github.com/OTL/cv_camera.git
[submodule "src/kacanopen"]
	path = src/kacanopen
	url = https://github.com/dghani/kacanopen
[submodule "src/rqt_ez_publisher"]
	path = src/rqt_ez_publisher
	url = https://github.com/JulioLP/rqt_ez_publisher.git
