[submodule "src/ros_realsense/realsense"]
	path = src/ros_realsense/realsense
	url = https://github.com/intel-ros/realsense.git
[submodule "src/cv_camera"]
	path = src/cv_camera
	url = https://github.com/OTL/cv_camera.git
[submodule "src/kacanopen"]
	path = src/kacanopen
	url = https://github.com/dghani/kacanopen
[submodule "timesync"]
	path = src/timesync
	url = https://github.com/larics/timesync.git
	branch = master
[submodule "src/lpms_imu"]
	path = src/lpms_imu
	url = https://github.com/larics/lpms_imu.git
	branch = master
