<launch>
    <machine name="mouse_droid" address="192.168.0.162" env-loader="~/NasaRmc2019/ros_remote.sh" user="trickfire" password="tfire2019"/>
    <node name="front_cam_tf_broadcaster" pkg="tf2_ros" type="static_transform_publisher"
        args="0.2 0.03 0.017 0 0 0 1 base_link front_cam_link"/>
    <node machine="mouse_droid" name="front_cam" pkg="cv_camera" type="cv_camera_node" output="screen">
        <rosparam>
            device_id: 4
            frame_id: front_cam_link
            camera_info_url: file:///home/trickfire/NasaRmc2019/src/tfr_sensor/calib/front.yaml
            rate: 5
        </rosparam>
    </node>
    <node machine="mouse_droid" name="front_cam_wrapper" pkg="tfr_sensor" type="image_topic_wrapper">
        <rosparam>
            camera_topic: /sensors/front_cam/image_raw
            service_name: /on_demand/front_cam/image_raw
        </rosparam>
    </node>
    <node name="rear_cam_tf_broadcaster" pkg="tf2_ros" type="static_transform_publisher"
        args="-0.065 0.04 0.015 0 0 1 0 base_link rear_cam_link"/>
    <node machine="mouse_droid" name="rear_cam" pkg="cv_camera" type="cv_camera_node" output="screen">
        <rosparam>
            device_id: 3
            frame_id: rear_cam_link
            camera_info_url: file:///home/trickfire/NasaRmc2019/src/tfr_sensor/calib/rear.yaml
            rate: 5
        </rosparam>
    </node>
    <node machine="mouse_droid" name="rear_cam_wrapper" pkg="tfr_sensor" type="image_topic_wrapper">
        <rosparam>
            camera_topic: /sensors/rear_cam/image_raw
            service_name: /on_demand/rear_cam/image_raw
        </rosparam>
    </node>
</launch>
