<launch>
    <node name="realsense_tf_broadcaster" pkg="tf2_ros" type="static_transform_publisher"
        args="0.2 0.03 0.06 0 0 0 1 base_link camera_link"/>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="align_depth" value="false"/>
        <arg name="enable_accel" value="false"/>
        <arg name="enable_gyro" value="false"/>
        <arg name="enable_infra1" value="false"/>
        <arg name="enable_infra2" value="false"/>
        <arg name="initial_reset" value="true"/>
        <arg name="depth_fps"     value="4"/>
        <arg name="enable_fisheye" value="false"/>
        <arg name="enable_color"  value="false"/>
        <arg name="filters" value="pointcloud"/>
    </include>
</launch>
