<launch>
    <group ns="sensors">
        <include file="$(find tfr_sensor)/launch/fiducial_cam.launch"/>
        <include file="$(find tfr_sensor)/launch/realsense.launch">
        </include>
    </group>
    <remap from="/imu" to="/sensors/imu" />
    <node name="imu_tf_broadcaster" pkg="tf2_ros" type="static_transform_publisher"
        args="-0.43 -0.0575 0.24 0 0 0 base_footprint imu"/>
    <node name="imu_node" pkg="lpms_imu" type="lpms_imu_node"/>
</launch>
