<launch>
    <node name="front_cam" pkg="cv_camera" type="cv_camera_node" output="screen">
        <rosparam>
            file: "nvcamerasrc sensor-id=2 fpsRange=\"30.0 30.0\" ! video/x-raw(memory:NVMM), width=(int)4056, height=(int)3040, format=(string)I420, framerate=(fraction)30/1 ! nvtee ! nvvidconv ! video/x-raw, format=(string)BGRx ! videoconvert !  appsink"
            frame_id: front_cam_link
            rate: 30
        </rosparam>
        <param name="camera_info_url" value="file://$(find tfr_sensor)/calib/front_4056x3040.yaml"/>
    </node>
    <node name="front_cam_wrapper" pkg="tfr_sensor" type="image_topic_wrapper">
        <rosparam>
            camera_topic: /sensors/front_cam/image_raw
            service_name: /on_demand/front_cam/image_raw
        </rosparam>
    </node>
</launch>
