<launch>
    <node name="front_cam" pkg="cv_camera" type="cv_camera_node" output="screen">
        <rosparam>
            file: "nvcamerasrc sensor-id=1 fpsRange=\"30.0 30.0\" ! video/x-raw(memory:NVMM), width=(int)4056, height=(int)3040, format=(string)I420, framerate=(fraction)30/1 ! nvtee ! nvvidconv flip-method=2 ! video/x-raw, format=(string)I420 ! videoconvert ! video/x-raw, format=(string)BGR !  appsink" 
            frame_id: front_cam_link
            camera_info_url: file:///home/trickfire/NasaRmc2019/src/tfr_sensor/calib/front.yaml
            rate: 5 
        </rosparam>
    </node>
    <node name="front_cam_wrapper" pkg="tfr_sensor" type="image_topic_wrapper">
        <rosparam>
            camera_topic: /front_cam/image_raw
            service_name: /on_demand/front_cam/image_raw
        </rosparam>
    </node>
</launch>
