<launch>
  <node name="camera" pkg="cv_camera" type="cv_camera_node" output="screen">
    <rosparam>
        file: "nvcamerasrc sensor-id=0 fpsRange=\"30.0 30.0\" ! video/x-raw(memory:NVMM), width=(int)1920, height=(int)1080, format=(string)I420, framerate=(fraction)30/1 ! nvtee ! nvvidconv flip-method=2 ! video/x-raw, format=(string)BGRx ! videoconvert ! video/x-raw, format=(string)BGR !  appsink"
        rate: 30
    </rosparam>
  </node>
  <node name="camera_2" pkg="cv_camera" type="cv_camera_node" output="screen">
    <rosparam>
        file: "nvcamerasrc sensor-id=2 fpsRange=\"30.0 30.0\" ! video/x-raw(memory:NVMM), width=(int)1920, height=(int)1080, format=(string)I420, framerate=(fraction)30/1 ! nvtee ! nvvidconv flip-method=2 ! video/x-raw, format=(string)BGRx ! videoconvert ! video/x-raw, format=(string)BGR !  appsink"
        rate: 30
    </rosparam>
  </node>
  <node name="camera_latency_test" pkg="tfr_utilities" type="camera_latency_test.py" output="screen">
      <rosparam>
          image_topic: camera/image_raw
      </rosparam>
  </node>

</launch>
